<%= render "shared/navlink", items: { 'Home': root_path, 'Tenants': tenants_path } %>

<div class="grid">
  <div>
    <h1>Tenants</h1>
  </div>
  <div>
    <%= link_to "New tenant", new_tenant_path, role: "button", style: "float: right;" %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th scope="col">Subdomain</th>
      <th scope="col">Shard</th>
      <th scope="col">Connections</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.subdomain %></td>
        <td><%= tenant.shard %></td>
        <td><%= tenant.dbc %></td>
        <td>
          <%= link_to 'Edit', edit_tenant_path(tenant) %>
          <%= link_to 'Destroy', tenant_path(tenant), method: :delete %>
        </td>
      </tr>
    <% end %>
  <tbody>
</table>
